<div class="ui footer vertical segment">
    <div class="ui center aligned container">
        <div id="updated-at" class="ui orange label"><i class="sync alternate icon"></i>Updated<div class="detail">loading</div></div>
        <div>Designed and built with all the love and passion in the world by <a href="{{ site.author_url }}" target="_blank">{{ site.author }}</a></div>
        <div><i class="copyright outline icon"></i>{{ site.time | date: "%Y" }} <a href="{{ site.organization_url }}" target="_blank">{{ site.organization }}</a></div>
    </div>
</div>