<div class="ui vertical segment">
    <div class="ui container">
        <h2 class="ui header"><i class="stream icon"></i>Parse Music Link</h2>
        <div id="music-url-form" class="ui form">
            <div class="required field">
                <label for="hour">Music Link</label>
                <input id="music-url" type="text" name="music-url" placeholder="e.g.: {{ site.data.api.music_url }}">
            </div>
            <a id="parse" class="ui primary left labeled icon button"><i class="arrow right icon"></i>Parse</a>
        </div>
    </div>
</div>